<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="nav-toggle">

    <label for="nav-toggle" class="navigation__button">
        <span class="navigation__icon"></span>
    </label>

    <div class="navigation__bg"></div>

    <nav class="navigation__nav">

        <ul class="navigation__list">
            <li><span class="navigation__title">- Menú -</span></li>
            <li class="navigation__item"><a routerLink="home" class="navigation__link"><span>01</span>Home</a></li>
            <li class="navigation__item"><a routerLink="about" class="navigation__link"><span>02</span>About Me</a></li>
            <li class="navigation__item"><a routerLink="work" class="navigation__link"><span>03</span>Work</a></li>
            <li class="navigation__item"><a routerLink="contact" class="navigation__link"><span>04</span>Contact</a></li>
        </ul>

    </nav>

</div>

<header class="header">
    <div class="header__logo-box">
        <a routerLink="home">
            <img src="assets/img/logo-white.png" alt="logo" class="header__logo">
        </a>
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">{{infoPageService.info.userShort}}</span>
            <span class="heading-primary--sub"> {{infoPageService.info.frontend}}</span>
        </h1>
        <a href="#" class="btn btn--pink btn--animated" id="animarscroll">&darr;</a>
    </div>
</header>  