.header {
	height: 80vh;
 	animation: grow 1s ease-in backwards; 
  	padding: 20rem 0;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-tertiary-light, 0.9), 
		rgba($color-tertiary-dark, 0.3)), 
	url(assets/img/nat-4.jpg);

	background: linear-gradient(89deg, #df0e62, #fac70b, #fb3569);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	-o-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;

    background-position: top;
    position: relative;
	
	@supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		height: 95vh;
	}


	&__logo {
		height: 6.5rem;
	}
	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 3rem;
	}
	&__text-box {
		width: 86%;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}


}